{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "Invoices",
    "description" : "Use the Invoicing API to create, send, and manage invoices. You can also use the API or webhooks to track invoice payments. When you send an invoice to a customer, the invoice moves from draft to payable state. PayPal then emails the customer a link to the invoice on the PayPal website. Customers with a PayPal account can log in and pay the invoice with PayPal. Alternatively, customers can pay as a guest with a debit card or credit card. For more information, see the <a href=\"/docs/invoicing/\">Invoicing Overview</a> and the <a href=\"/docs/invoicing/basic-integration/\">Invoicing Integration Guide</a>.",
    "contact" : { },
    "version" : "2.3"
  },
  "externalDocs" : {
    "url" : "https://developer.paypal.com/docs/api/invoicing/v2/"
  },
  "servers" : [ {
    "url" : "https://api-m.sandbox.paypal.com",
    "description" : "PayPal Sandbox Environment"
  }, {
    "url" : "https://api-m.paypal.com",
    "description" : "PayPal Live Environment"
  } ],
  "tags" : [ {
    "name" : "invoices",
    "description" : "Use the `/invoices` resource to create, update, and send invoices and invoice reminders. To manage invoices, you can also list invoices, show details for invoices, delete draft invoices, and cancel sent invoices. You can also record payments for invoices to mark them as fully or partially paid, or record refunds for invoices to mark them as fully or partially refunded. You can create QR codes for invoices that can be scanned, viewed, and paid by a mobile phone."
  }, {
    "name" : "search-invoices",
    "description" : "Use the `/search-invoices` resource to search for and list invoices that match search criteria."
  }, {
    "name" : "templates",
    "description" : "Use the `/templates` resource to create, list, show details for, update, and delete invoice templates. Use the `/templates` resource when you create a third-party invoicing application. For instance, a business can create a template with predefined invoice data. Later, the business can select the template to populate the invoice data.<blockquote><strong>Note:</strong> To upload a logo to display on an invoice, you can use the <strong>Template Settings</strong> dashboard to <a href=\"https://www.paypal.com/invoice/settings/templates\">create a template</a>. When you create an invoice, you can use the URI for that logo.</blockquote>"
  }, {
    "name" : "merchant-config",
    "description" : "Use the `/merchant-config` resource to create, update and show details of merchant configuration."
  } ],
  "paths" : {
    "/invoices" : {
      "get" : {
        "tags" : [ "invoices" ],
        "summary" : "List invoices",
        "description" : "Lists invoices. To filter the invoices that appear in the response, you can specify one or more optional query parameters.",
        "operationId" : "invoices.list",
        "parameters" : [ {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/page_size"
        }, {
          "$ref" : "#/components/parameters/total_required"
        }, {
          "$ref" : "#/components/parameters/fields"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that lists invoices with details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invoices"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invoices"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse400"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_403"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_403"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/read" ]
        } ]
      },
      "post" : {
        "tags" : [ "invoices" ],
        "summary" : "Create draft invoice",
        "description" : "Creates a draft invoice. To move the invoice from a draft to payable state, you must <a href=\"#invoices_send\">send the invoice</a>.<br/><br/>In the JSON request body, include invoice details including merchant information. The <code>invoice</code> object must include an <code>items</code> array.<blockquote><strong>Note:</strong> The merchant that you specify in an invoice must have a PayPal account in good standing.</blockquote>.",
        "operationId" : "invoices.create",
        "requestBody" : {
          "description" : "The invoice details which includes all information of the invoice like items, billing information.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/invoice"
              },
              "examples" : {
                "0" : {
                  "$ref" : "#/components/examples/invoice_draft"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "A successful request returns the HTTP `201 Created` status code. A JSON response body that shows invoice details is returned if you set <code>prefer=return=representation</code>.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invoice"
                },
                "examples" : {
                  "0" : {
                    "$ref" : "#/components/examples/invoice"
                  }
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invoice"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4001"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4001"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_403"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_403"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse422"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse422"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      }
    },
    "/invoices/{invoice_id}/send" : {
      "post" : {
        "tags" : [ "invoices" ],
        "summary" : "Send invoice",
        "description" : "Sends or schedules an invoice, by ID, to be sent to a customer. The action depends on the invoice issue date:<ul><li>If the invoice issue date is current or in the past, sends the invoice immediately.</li><li>If the invoice issue date is in the future, schedules the invoice to be sent on that date.</li></ul>To suppress the merchant's email notification, set the `send_to_invoicer` body parameter to `false`. To send the invoice through a share link and not through PayPal, set the <code>send_to_recipient</code> parameter to <code>false</code> in the <code>notification</code> object. The <code>send_to_recipient</code> parameter does not apply to a future issue date because the invoice is scheduled to be sent through PayPal on that date.<blockquote><strong>Notes:</strong><ul><li>After you send an invoice, resending it has no effect.</li><li>To send a notification for updates, <a href=\"#invoices_update\">update the invoice</a> and set the <code>send_to_recipient</code> body parameter to <code>true</code>.</li></ul></blockquote>",
        "operationId" : "invoices.send",
        "parameters" : [ {
          "$ref" : "#/components/parameters/invoice_id"
        } ],
        "requestBody" : {
          "description" : "The email or SMS notification to send to the payer when they send an invoice..",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/notification"
              },
              "examples" : {
                "0" : {
                  "$ref" : "#/components/examples/notification_invoice"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` when the invoice issue date is current date.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/link_description"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/link_description"
                }
              }
            }
          },
          "202" : {
            "description" : "A successful request returns the HTTP `202 Accepted` status code with no JSON response body, when the invoice issue date is in future.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/202-response"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/202-response"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_403"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource Not Found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_422"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_422"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      }
    },
    "/invoices/{invoice_id}/remind" : {
      "post" : {
        "tags" : [ "invoices" ],
        "summary" : "Send invoice reminder",
        "description" : "Sends a reminder to the payer about an invoice, by ID. In the JSON request body, include a `notification` object that defines the subject of the reminder and other details.",
        "operationId" : "invoices.remind",
        "parameters" : [ {
          "$ref" : "#/components/parameters/invoice_id"
        } ],
        "requestBody" : {
          "description" : "The email or SMS notification that will be sent to the payer for reminder.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/notification"
              },
              "examples" : {
                "0" : {
                  "$ref" : "#/components/examples/notification_reminder"
                }
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4002"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4002"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource Not Found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4221"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4221"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      }
    },
    "/invoices/{invoice_id}/cancel" : {
      "post" : {
        "tags" : [ "invoices" ],
        "summary" : "Cancel sent invoice",
        "description" : "Cancels a sent invoice, by ID, and, optionally, sends a notification about the cancellation to the payer, merchant, and CC: emails.",
        "operationId" : "invoices.cancel",
        "parameters" : [ {
          "$ref" : "#/components/parameters/invoice_id"
        } ],
        "requestBody" : {
          "description" : "The email or SMS notification that will be sent to the payer on cancellation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/notification"
              },
              "examples" : {
                "0" : {
                  "$ref" : "#/components/examples/notification_invoice_cancel"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4003"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource Not Found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4222"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      }
    },
    "/invoices/{invoice_id}/payments" : {
      "post" : {
        "tags" : [ "invoices" ],
        "summary" : "Record payment for invoice",
        "description" : "Records a payment for the invoice. If no payment is due, the invoice is marked as `PAID`. Otherwise, the invoice is marked as `PARTIALLY PAID`.",
        "operationId" : "invoices.payments",
        "parameters" : [ {
          "$ref" : "#/components/parameters/invoice_id"
        } ],
        "requestBody" : {
          "description" : "The details of the payment to record against the invoice.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/payment_detail"
              },
              "examples" : {
                "0" : {
                  "$ref" : "#/components/examples/payment_detail"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 Created` status code and a reference to the recorded payment.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/payment_reference"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/payment_reference"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4004"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4004"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource Not Found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4223"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4223"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      }
    },
    "/invoices/{invoice_id}/payments/{transaction_id}" : {
      "delete" : {
        "tags" : [ "invoices" ],
        "summary" : "Delete external payment",
        "description" : "Deletes an external payment, by invoice ID and transaction ID.",
        "operationId" : "invoices.payments-delete",
        "parameters" : [ {
          "$ref" : "#/components/parameters/invoice_id"
        }, {
          "$ref" : "#/components/parameters/transaction_id"
        } ],
        "responses" : {
          "204" : {
            "description" : "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource Not Found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4224"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      }
    },
    "/invoices/{invoice_id}/refunds" : {
      "post" : {
        "tags" : [ "invoices" ],
        "summary" : "Record refund for invoice",
        "description" : "Records a refund for the invoice. If all payments are refunded, the invoice is marked as `REFUNDED`. Otherwise, the invoice is marked as `PARTIALLY REFUNDED`.",
        "operationId" : "invoices.refunds",
        "parameters" : [ {
          "$ref" : "#/components/parameters/invoice_id"
        } ],
        "requestBody" : {
          "description" : "The details of the refund to record against the invoice.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/refund_detail"
              },
              "examples" : {
                "0" : {
                  "$ref" : "#/components/examples/refund_detail"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 Created` status code and a reference to the recorded refund.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/refund_reference"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/refund_reference"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4005"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4005"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource Not Found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4225"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4225"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      }
    },
    "/invoices/{invoice_id}/refunds/{transaction_id}" : {
      "delete" : {
        "tags" : [ "invoices" ],
        "summary" : "Delete external refund",
        "description" : "Deletes an external refund, by invoice ID and transaction ID.",
        "operationId" : "invoices.refunds-delete",
        "parameters" : [ {
          "$ref" : "#/components/parameters/invoice_id"
        }, {
          "$ref" : "#/components/parameters/transaction_id"
        } ],
        "responses" : {
          "204" : {
            "description" : "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource Not Found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      }
    },
    "/invoices/{invoice_id}/generate-qr-code" : {
      "post" : {
        "tags" : [ "invoices" ],
        "summary" : "Generate QR code",
        "description" : "Generates a QR code for an invoice, by ID. The QR code is a PNG image in <a href=\"https://www.base64encode.org/\">Base64-encoded</a> format that corresponds to the invoice ID. You can generate a QR code for an invoice and add it to a paper or PDF invoice. When customers use their mobile devices to scan the QR code, they are redirected to the PayPal mobile payment flow where they can view the invoice and pay online with PayPal or a credit card. Before you get a QR code, you must <a href=\"#invoices_create\">create an invoice</a> and <a href=\"#invoices_send\">send an invoice</a> to move the invoice from a draft to payable state. Do not include an email address if you do not want the invoice emailed.",
        "operationId" : "invoices.generate-qr-code",
        "parameters" : [ {
          "$ref" : "#/components/parameters/invoice_id"
        } ],
        "requestBody" : {
          "description" : "Optional configuration parameters to adjust QR code width, height and the encoded URL.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/qr_config"
              },
              "examples" : {
                "0" : {
                  "$ref" : "#/components/examples/qr_config"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows the QR code as a PNG image."
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4006"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource Not Found.",
            "content" : {
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      }
    },
    "/generate-next-invoice-number" : {
      "post" : {
        "tags" : [ "invoices" ],
        "summary" : "Generate invoice number",
        "description" : "Generates the next invoice number that is available to the merchant. The next invoice number uses the prefix and suffix from the last invoice number and increments the number by one. For example, the next invoice number after `INVOICE-1234` is `INVOICE-1235`.",
        "operationId" : "invoicing.generate-next-invoice-number",
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows the next invoice number.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invoice_number"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_403"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      }
    },
    "/invoices/{invoice_id}" : {
      "get" : {
        "tags" : [ "invoices" ],
        "summary" : "Show invoice details",
        "description" : "Shows details for an invoice, by ID.",
        "operationId" : "invoices.get",
        "parameters" : [ {
          "$ref" : "#/components/parameters/invoice_id"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows invoice details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invoice"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource Not Found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_422"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/read" ]
        } ]
      },
      "put" : {
        "tags" : [ "invoices" ],
        "summary" : "Fully update invoice",
        "description" : "Fully updates an invoice, by ID. In the JSON request body, include a complete `invoice` object. This call does not support partial updates.",
        "operationId" : "invoices.update",
        "parameters" : [ {
          "$ref" : "#/components/parameters/invoice_id"
        }, {
          "$ref" : "#/components/parameters/send_to_recipient"
        }, {
          "$ref" : "#/components/parameters/send_to_invoicer"
        } ],
        "requestBody" : {
          "description" : "A representation of changes to make in the invoice.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/invoice"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code. A JSON response body that shows invoice details is returned if you set <code>prefer=return=representation</code>.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invoice"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invoice"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4007"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4007"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource Not Found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse422"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse422"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      },
      "delete" : {
        "tags" : [ "invoices" ],
        "summary" : "Delete invoice",
        "description" : "Deletes a draft or scheduled invoice, by ID. Deletes invoices in the draft or scheduled state only. For invoices that have already been sent, you can <a href=\"/docs/api/invoicing/v2/#invoices_cancel\">cancel the invoice</a>. After you delete a draft or scheduled invoice, you can no longer use it or show its details. However, you can reuse its invoice number.",
        "operationId" : "invoices.delete",
        "parameters" : [ {
          "$ref" : "#/components/parameters/invoice_id"
        } ],
        "responses" : {
          "204" : {
            "description" : "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource Not Found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      }
    },
    "/search-invoices" : {
      "post" : {
        "tags" : [ "search-invoices" ],
        "summary" : "Search for invoices",
        "description" : "Searches for and lists invoices that match search criteria. If you pass multiple criteria, the response lists invoices that match all criteria.",
        "operationId" : "invoices.search-invoices",
        "parameters" : [ {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/page_size"
        }, {
          "$ref" : "#/components/parameters/total_required"
        } ],
        "requestBody" : {
          "description" : "The invoice search can be used to retrieve the invoices based on the search parameters.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/search_data"
              },
              "examples" : {
                "0" : {
                  "$ref" : "#/components/examples/search_data"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that lists the invoices that match the search criteria.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invoices"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/invoices"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4008"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4008"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_403"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_403"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/read" ]
        } ]
      }
    },
    "/templates" : {
      "get" : {
        "tags" : [ "templates" ],
        "summary" : "List templates",
        "description" : "Lists merchant-created templates with associated details. The associated details include the emails, addresses, and phone numbers from the user's PayPal profile.<br/>The user can select which values to show in the business information section of their template.",
        "operationId" : "templates.list",
        "parameters" : [ {
          "$ref" : "#/components/parameters/fields"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/page_size"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that lists invoices.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/templates"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/templates"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse400"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_403"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_403"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/read" ]
        } ]
      },
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Create template",
        "description" : "Creates an invoice template. You can use details from this template to create an invoice. You can create up to 50 templates.<blockquote><strong>Note:</strong> Every merchant starts with three PayPal system templates that are optimized for the unit type billed. The template includes `Quantity`, `Hours`, and `Amount`.</blockquote>",
        "operationId" : "templates.create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/template"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "A successful request returns the HTTP `201 Created` status code. A JSON response body that shows template details is returned if you set <code>prefer=return=representation</code>.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/template"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/template"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4009"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4009"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4226"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4226"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      }
    },
    "/templates/{template_id}" : {
      "get" : {
        "tags" : [ "templates" ],
        "summary" : "Show template details",
        "description" : "Shows details for a template, by ID.",
        "operationId" : "templates.get",
        "parameters" : [ {
          "$ref" : "#/components/parameters/template_id"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows template details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/template"
                },
                "examples" : {
                  "0" : {
                    "$ref" : "#/components/examples/template"
                  },
                  "1" : {
                    "$ref" : "#/components/examples/template_1"
                  }
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/template"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4031"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4031"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource Not Found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/read" ]
        } ]
      },
      "put" : {
        "tags" : [ "templates" ],
        "summary" : "Fully update template",
        "description" : "Fully updates a template, by ID. In the JSON request body, include a complete `template` object. This call does not support partial updates.",
        "operationId" : "templates.update",
        "parameters" : [ {
          "$ref" : "#/components/parameters/template_id"
        } ],
        "requestBody" : {
          "description" : "A representation of changes to make in the template.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/template"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code. A JSON response body that shows template details is returned if you set <code>prefer=return=representation</code>.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/template"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse40010"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource Not Found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4227"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      },
      "delete" : {
        "tags" : [ "templates" ],
        "summary" : "Delete template",
        "description" : "Deletes a template, by ID.",
        "operationId" : "templates.delete",
        "parameters" : [ {
          "$ref" : "#/components/parameters/template_id"
        } ],
        "responses" : {
          "204" : {
            "description" : "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400" : {
            "description" : "Invalid request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4032"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4032"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource Not Found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_422"
                }
              },
              "multipart/mixed" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_422"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/invoicing/invoices/readwrite" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "error_link_description" : {
        "title" : "Link Description",
        "required" : [ "href", "rel" ],
        "type" : "object",
        "properties" : {
          "href" : {
            "maxLength" : 20000,
            "minLength" : 0,
            "pattern" : "^.*$",
            "type" : "string",
            "description" : "The complete target URL. To make the related call, combine the method with this [URI Template-formatted](https://tools.ietf.org/html/rfc6570) link. For pre-processing, include the `$`, `(`, and `)` characters. The `href` is the key HATEOAS component that links a completed call with a subsequent call."
          },
          "rel" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^.*$",
            "type" : "string",
            "description" : "The [link relation type](https://tools.ietf.org/html/rfc5988#section-4), which serves as an ID for a link that unambiguously describes the semantics of the link. See [Link Relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml)."
          },
          "method" : {
            "maxLength" : 7,
            "minLength" : 3,
            "pattern" : "^[A-Z]*$",
            "type" : "string",
            "description" : "The HTTP method required to make the related call.",
            "enum" : [ "CONNECT", "DELETE", "GET", "HEAD", "OPTIONS", "PATCH", "POST", "PUT" ]
          }
        },
        "description" : "The request-related [HATEOAS link](/api/rest/responses/#hateoas-links) information."
      },
      "metadata" : {
        "title" : "Metadata",
        "type" : "object",
        "description" : "The audit metadata. Captures all invoicing actions on create, send, update, and cancel.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/template_metadata"
        }, {
          "$ref" : "#/components/schemas/MetadataAllOf2"
        } ]
      },
      "qr_config" : {
        "title" : "QR Configuration",
        "type" : "object",
        "properties" : {
          "width" : {
            "maximum" : 500,
            "minimum" : 150,
            "type" : "integer",
            "description" : "The width, in pixels, of the QR code image. Value is from `150` to `500`.",
            "default" : 500
          },
          "height" : {
            "maximum" : 500,
            "minimum" : 150,
            "type" : "integer",
            "description" : "The height, in pixels, of the QR code image. Value is from `150` to `500`.",
            "default" : 500
          },
          "action" : {
            "maxLength" : 7,
            "pattern" : "(?i)^(pay|details)$",
            "type" : "string",
            "description" : "The type of URL for which to generate a QR code. Valid values are `pay` and `details`.",
            "default" : "pay"
          }
        },
        "description" : "The configuration for a QR code."
      },
      "templates.update-400" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Templatesupdate400Details"
            }
          }
        }
      },
      "template_info" : {
        "title" : "Template Information",
        "type" : "object",
        "properties" : {
          "detail" : {
            "$ref" : "#/components/schemas/template_detail"
          },
          "invoicer" : {
            "$ref" : "#/components/schemas/invoicer_info"
          },
          "primary_recipients" : {
            "maxItems" : 100,
            "type" : "array",
            "description" : "The billing and shipping information. Includes name, email, address, phone, and language.",
            "items" : {
              "$ref" : "#/components/schemas/recipient_info"
            }
          },
          "additional_recipients" : {
            "maxItems" : 100,
            "type" : "array",
            "description" : "An array of one or more CC: emails to which notifications are sent. If you omit this parameter, a notification is sent to all CC: email addresses that are part of the invoice.<blockquote><strong>Note:</strong> Valid values are email addresses in the `additional_recipients` value associated with the invoice.</blockquote>",
            "items" : {
              "$ref" : "#/components/schemas/email_address"
            }
          },
          "items" : {
            "maxItems" : 100,
            "type" : "array",
            "description" : "An array of invoice line-item information.",
            "items" : {
              "$ref" : "#/components/schemas/item"
            }
          },
          "configuration" : {
            "$ref" : "#/components/schemas/template_configuration"
          },
          "amount" : {
            "$ref" : "#/components/schemas/amount_summary_detail"
          },
          "due_amount" : {
            "$ref" : "#/components/schemas/money"
          }
        },
        "description" : "The template details. Includes invoicer business information, invoice recipients, items, and configuration."
      },
      "invoices.generate-qr-code-400" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/InvoicesgenerateQrCode400Details"
            }
          }
        }
      },
      "Invoicespayments400Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/MISSINGREQUIREDPARAMETER"
        }, {
          "$ref" : "#/components/schemas/INVALIDPAYMENTMETHOD"
        }, {
          "$ref" : "#/components/schemas/NOTSUPPORTED"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH10"
        }, {
          "$ref" : "#/components/schemas/MISSINGREQUIREDPARAMETER1"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH27"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX5"
        }, {
          "$ref" : "#/components/schemas/VALUECANNOTBEZERO"
        }, {
          "$ref" : "#/components/schemas/INVALIDDECIMALVALUE"
        }, {
          "$ref" : "#/components/schemas/INVALIDINTEGERVALUE"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX6"
        } ]
      },
      "CANNOTPROCESSPAYMENTS" : {
        "title" : "CANNOT_PROCESS_PAYMENTS",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "CANNOT_PROCESS_PAYMENTS" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Current invoice state does not support payment processing." ]
          }
        }
      },
      "InvoicespaymentsDelete422Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/CANNOTDELETEEXTERNALPAYMENT"
        } ]
      },
      "business_name" : {
        "title" : "Business Name",
        "type" : "object",
        "properties" : {
          "business_name" : {
            "maxLength" : 300,
            "type" : "string",
            "description" : "Required. The business name of the party."
          }
        },
        "description" : "The business name of the party."
      },
      "phone_type" : {
        "title" : "Phone Type",
        "type" : "string",
        "description" : "The phone type.",
        "enum" : [ "FAX", "HOME", "MOBILE", "OTHER", "PAGER" ]
      },
      "CANNOTPROCESSREFUNDS" : {
        "title" : "CANNOT_PROCESS_REFUNDS",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "CANNOT_PROCESS_REFUNDS" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Current invoice state does not support refunds." ]
          }
        }
      },
      "payment_reference" : {
        "title" : "Payment Reference",
        "type" : "object",
        "properties" : {
          "payment_id" : {
            "type" : "string",
            "description" : "The ID for the invoice payment.",
            "readOnly" : true
          }
        },
        "description" : "The reference to the payment detail."
      },
      "CANNOTDELETEGLOBALTEMPLATE" : {
        "title" : "CANNOT_DELETE_GLOBAL_TEMPLATE",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "CANNOT_DELETE_GLOBAL_TEMPLATE" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Global templates cannot be deleted." ]
          }
        }
      },
      "invoice_detail" : {
        "title" : "Invoice Detail",
        "type" : "object",
        "description" : "The details of the invoice. Includes invoice number, date, payment terms, and audit metadata.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/detail"
        }, {
          "$ref" : "#/components/schemas/InvoiceDetailAllOf2"
        } ]
      },
      "search_data" : {
        "title" : "Search Data",
        "type" : "object",
        "properties" : {
          "recipient_email" : {
            "maxLength" : 254,
            "type" : "string",
            "description" : "Filters the search by the email address."
          },
          "recipient_first_name" : {
            "maxLength" : 140,
            "type" : "string",
            "description" : "Filters the search by the recipient first name."
          },
          "recipient_last_name" : {
            "maxLength" : 140,
            "type" : "string",
            "description" : "Filters the search by the recipient last name."
          },
          "recipient_business_name" : {
            "maxLength" : 300,
            "type" : "string",
            "description" : "Filters the search by the recipient business name."
          },
          "invoice_number" : {
            "maxLength" : 25,
            "type" : "string",
            "description" : "Filters the search by the invoice number."
          },
          "status" : {
            "maxItems" : 5,
            "type" : "array",
            "description" : "An array of status values.",
            "items" : {
              "$ref" : "#/components/schemas/invoice_status"
            }
          },
          "reference" : {
            "maxLength" : 120,
            "type" : "string",
            "description" : "The reference data, such as a PO number."
          },
          "currency_code" : {
            "$ref" : "#/components/schemas/currency_code"
          },
          "memo" : {
            "maxLength" : 500,
            "type" : "string",
            "description" : "A private bookkeeping memo for the user."
          },
          "total_amount_range" : {
            "$ref" : "#/components/schemas/amount_range"
          },
          "invoice_date_range" : {
            "$ref" : "#/components/schemas/date_range"
          },
          "due_date_range" : {
            "$ref" : "#/components/schemas/date_range"
          },
          "payment_date_range" : {
            "$ref" : "#/components/schemas/date_time_range"
          },
          "creation_date_range" : {
            "$ref" : "#/components/schemas/date_time_range"
          },
          "archived" : {
            "type" : "boolean",
            "description" : "Indicates whether to list merchant-archived invoices in the response. Value is:<ul><li><code>true</code>. Response lists only merchant-archived invoices.</li><li><code>false</code>. Response lists only unarchived invoices.</li><li><code>null</code>. Response lists all invoices.</li></ul>"
          },
          "fields" : {
            "type" : "array",
            "description" : "A CSV file of fields to return for the user, if available. Because the invoice object can be very large, field filtering is required. Valid collection fields are <code>items</code>, <code>payments</code>, <code>refunds</code>, <code>additional_recipients_info</code>, and <code>attachments</code>.",
            "items" : {
              "type" : "string",
              "description" : "The name of the field."
            }
          }
        },
        "description" : "The invoice search parameters."
      },
      "PERMISSIONDENIED2" : {
        "title" : "PERMISSION_DENIED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "PERMISSION_DENIED" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "The requested template is not associated with the requested user." ]
          }
        }
      },
      "invoices.refunds-400" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Invoicesrefunds400Details"
            }
          }
        }
      },
      "Invoicesrefunds422Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/INVALIDREFUNDAMOUNT"
        }, {
          "$ref" : "#/components/schemas/CANNOTPROCESSREFUNDS"
        } ]
      },
      "Templatesdelete403Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/PERMISSIONDENIED2"
        }, {
          "$ref" : "#/components/schemas/CANNOTDELETEGLOBALTEMPLATE"
        } ]
      },
      "PERMISSIONDENIED1" : {
        "title" : "PERMISSION_DENIED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "PERMISSION_DENIED" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "The requested template is not associated with the requested user." ]
          }
        }
      },
      "detail" : {
        "title" : "Invoice_Detail",
        "required" : [ "currency_code" ],
        "properties" : {
          "reference" : {
            "maxLength" : 120,
            "type" : "string",
            "description" : "The reference data. Includes a post office (PO) number."
          },
          "currency_code" : {
            "$ref" : "#/components/schemas/currency_code"
          },
          "note" : {
            "maxLength" : 4000,
            "type" : "string",
            "description" : "A note to the invoice recipient. Also appears on the invoice notification email."
          },
          "terms_and_conditions" : {
            "maxLength" : 4000,
            "type" : "string",
            "description" : "The general terms of the invoice. Can include return or cancellation policy and other terms and conditions."
          },
          "memo" : {
            "maxLength" : 500,
            "type" : "string",
            "description" : "A private bookkeeping memo for the user."
          },
          "attachments" : {
            "maximum" : 5,
            "type" : "array",
            "description" : "An array of PayPal IDs for the files that are attached to an invoice.",
            "items" : {
              "$ref" : "#/components/schemas/file_reference"
            }
          }
        },
        "description" : "The details of the invoice like notes, terms and conditions, memo, attachments."
      },
      "CANNOTCANCELREFUNDEDINVOICE" : {
        "title" : "CANNOT_CANCEL_REFUNDED_INVOICE",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "CANNOT_CANCEL_REFUNDED_INVOICE" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Cannot cancel a refunded or partially refunded invoice." ]
          }
        }
      },
      "template_item_setting" : {
        "title" : "Template Item Setting",
        "type" : "object",
        "properties" : {
          "field_name" : {
            "$ref" : "#/components/schemas/template_item_field"
          },
          "display_preference" : {
            "$ref" : "#/components/schemas/template_display_preference"
          }
        },
        "description" : "The template item setting. Sets a template as the default template or edit template."
      },
      "INVALIDPAYMENTMETHOD" : {
        "title" : "INVALID_PAYMENT_METHOD",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_PAYMENT_METHOD" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "The value provided is not an acceptable method of payment." ]
          }
        }
      },
      "payment_term_type" : {
        "title" : "Payment Term Type",
        "type" : "string",
        "description" : "The payment term. Payment can be due upon receipt, a specified date, or in a set number of days.",
        "enum" : [ "DUE_ON_RECEIPT", "DUE_ON_DATE_SPECIFIED", "NET_10", "NET_15", "NET_30", "NET_45", "NET_60", "NET_90", "NO_DUE_DATE" ]
      },
      "CANNOTCANCELDRAFTINVOICE" : {
        "title" : "CANNOT_CANCEL_DRAFT_INVOICE",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "CANNOT_CANCEL_DRAFT_INVOICE" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Draft invoice cannot be canceled." ]
          }
        }
      },
      "InlineResponse400" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/error_400"
        }, {
          "$ref" : "#/components/schemas/400"
        } ]
      },
      "templates.update-422" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Templatesupdate422Details"
            }
          }
        }
      },
      "InlineResponse403" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/error_403"
        }, {
          "$ref" : "#/components/schemas/403"
        } ]
      },
      "date_no_time" : {
        "maxLength" : 10,
        "minLength" : 10,
        "pattern" : "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$",
        "type" : "string",
        "description" : "The stand-alone date, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). To represent special legal values, such as a date of birth, you should use dates with no associated time or time-zone data. Whenever possible, use the standard `date_time` type. This regular expression does not validate all dates. For example, February 31 is valid and nothing is known about leap years.",
        "format" : "ppaas_date_notime_v2"
      },
      "template_settings" : {
        "title" : "Template Settings",
        "type" : "object",
        "properties" : {
          "template_item_settings" : {
            "type" : "array",
            "description" : "The template item headers display preference.",
            "items" : {
              "$ref" : "#/components/schemas/template_item_setting"
            }
          },
          "template_subtotal_settings" : {
            "type" : "array",
            "description" : "The template subtotal headers display preference.",
            "items" : {
              "$ref" : "#/components/schemas/template_subtotal_setting"
            }
          }
        },
        "description" : "The template settings. Sets a template as the default template or edit template."
      },
      "PhoneDetailAllOf2" : {
        "properties" : {
          "phone_type" : {
            "$ref" : "#/components/schemas/phone_type"
          }
        }
      },
      "invoices.cancel-422" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Invoicescancel422Details"
            }
          }
        }
      },
      "INVOICECANCELEDALREADY" : {
        "title" : "INVOICE_CANCELED_ALREADY",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVOICE_CANCELED_ALREADY" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Invoice is already cancelled." ]
          }
        }
      },
      "AddressDetails" : {
        "title" : "Address Details",
        "type" : "object",
        "properties" : {
          "street_number" : {
            "maxLength" : 100,
            "type" : "string",
            "description" : "The street number."
          },
          "street_name" : {
            "maxLength" : 100,
            "type" : "string",
            "description" : "The street name. Just `Drury` in `Drury Lane`."
          },
          "street_type" : {
            "maxLength" : 100,
            "type" : "string",
            "description" : "The street type. For example, avenue, boulevard, road, or expressway."
          },
          "delivery_service" : {
            "maxLength" : 100,
            "type" : "string",
            "description" : "The delivery service. Post office box, bag number, or post office name."
          },
          "building_name" : {
            "maxLength" : 100,
            "type" : "string",
            "description" : "A named locations that represents the premise. Usually a building name or number or collection of buildings with a common name or number. For example, <code>Craven House</code>."
          },
          "sub_building" : {
            "maxLength" : 100,
            "type" : "string",
            "description" : "The first-order entity below a named building or location that represents the sub-premise. Usually a single building within a collection of buildings with a common name. Can be a flat, story, floor, room, or apartment."
          }
        },
        "description" : "The non-portable additional address details that are sometimes needed for compliance, risk, or other scenarios where fine-grain address information might be needed. Not portable with common third party and open source. Redundant with core fields.<br/>For example, `address_portable.address_line_1` is usually a combination of `address_details.street_number`, `street_name`, and `street_type`."
      },
      "VALUECANNOTBEZERO" : {
        "title" : "VALUE_CANNOT_BE_ZERO",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "VALUE_CANNOT_BE_ZERO" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Payment amount cannot be zero. Please provide a valid amount." ]
          }
        }
      },
      "400Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/INVALIDINTEGERMAXVALUE"
        }, {
          "$ref" : "#/components/schemas/INVALIDINTEGERMINVALUE"
        } ]
      },
      "Invoicescancel422Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/CANNOTCANCELDRAFTINVOICE"
        }, {
          "$ref" : "#/components/schemas/CANNOTCANCELPAIDINVOICE"
        }, {
          "$ref" : "#/components/schemas/CANNOTCANCELREFUNDEDINVOICE"
        }, {
          "$ref" : "#/components/schemas/CANNOTCANCELSCHEDULEDINVOICE"
        }, {
          "$ref" : "#/components/schemas/INVOICECANCELEDALREADY"
        } ]
      },
      "custom_amount" : {
        "title" : "Custom Amount",
        "required" : [ "label" ],
        "type" : "object",
        "properties" : {
          "label" : {
            "maxLength" : 50,
            "type" : "string",
            "description" : "The label to the custom amount of the invoice."
          },
          "amount" : {
            "$ref" : "#/components/schemas/money"
          }
        },
        "description" : "The custom amount to apply to an invoice. If you include a label, you must include a custom amount."
      },
      "Invoicesremind422Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/CANNOTREMINDINVOICE"
        } ]
      },
      "email_address" : {
        "maxLength" : 254,
        "minLength" : 3,
        "pattern" : "^.+@[^\"\\-].+$",
        "type" : "string",
        "description" : "The internationalized email address.<blockquote><strong>Note:</strong> Up to 64 characters are allowed before and 255 characters are allowed after the <code>@</code> sign. However, the generally accepted maximum length for an email address is 254 characters. The pattern verifies that an unquoted <code>@</code> sign exists.</blockquote>",
        "format" : "ppaas_common_email_address_v2"
      },
      "CANNOTDELETEEXTERNALPAYMENT" : {
        "title" : "CANNOT_DELETE_EXTERNAL_PAYMENT",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "CANNOT_DELETE_EXTERNAL_PAYMENT" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "The external payment cannot be deleted as the recorded refund cannot exceed the recored payment for an invoice." ]
          }
        }
      },
      "Invoicesupdate400Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH29"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH12"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH30"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX10"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH31"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH32"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH13"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH33"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH14"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH34"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH15"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH16"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH17"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH35"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH36"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH18"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH37"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH38"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH39"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH40"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX11"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH41"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH42"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH19"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH43"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH44"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH45"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH46"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX12"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH47"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH20"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH48"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH49"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH50"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX13"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH21"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH51"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX14"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH52"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH53"
        } ]
      },
      "invoices.payments-delete-422" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/InvoicespaymentsDelete422Details"
            }
          }
        }
      },
      "INVALIDREFUNDMETHOD" : {
        "title" : "INVALID_REFUND_METHOD",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_REFUND_METHOD" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "The value provided is not an acceptable method of refund." ]
          }
        }
      },
      "INVALIDSTRINGMAXLENGTH" : {
        "title" : "INVALID_STRING_MAX_LENGTH",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_STRING_MAX_LENGTH" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Address line2 length should be less than 300 characters." ]
          }
        }
      },
      "422Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/USERNOTFOUND"
        } ]
      },
      "template_configuration" : {
        "title" : "Template Configuration",
        "type" : "object",
        "properties" : {
          "tax_calculated_after_discount" : {
            "type" : "boolean",
            "description" : "Indicates whether the tax is calculated before or after a discount. If `false`, the tax is calculated before a discount. If `true`, the tax is calculated after a discount.",
            "default" : true
          },
          "tax_inclusive" : {
            "type" : "boolean",
            "description" : "Indicates whether the unit price includes tax.",
            "default" : false
          },
          "allow_tip" : {
            "type" : "boolean",
            "description" : "Indicates whether the invoice enables the customer to enter a tip amount during payment. If `true`, the invoice shows a tip amount field so that the customer can enter a tip amount. If `false`, the invoice does not show a tip amount field.<blockquote><strong>Note:</strong> This feature is not available for users in `Hong Kong`, `Taiwan`, `India`, or `Japan`.</blockquote>",
            "default" : false
          },
          "partial_payment" : {
            "$ref" : "#/components/schemas/partial_payment"
          }
        },
        "description" : "The template configuration details. Includes tax information, tip, and partial payment."
      },
      "invoices.search-invoices-400" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/InvoicessearchInvoices400Details"
            }
          }
        }
      },
      "language" : {
        "maxLength" : 10,
        "minLength" : 2,
        "pattern" : "^[a-z]{2}(?:-[A-Z][a-z]{3})?(?:-(?:[A-Z]{2}))?$",
        "type" : "string",
        "description" : "The [language tag](https://tools.ietf.org/html/bcp47#section-2) for the language in which to localize the error-related strings, such as messages, issues, and suggested actions. The tag is made up of the [ISO 639-2 language code](https://www.loc.gov/standards/iso639-2/php/code_list.php), the optional [ISO-15924 script tag](https://www.unicode.org/iso15924/codelists.html), and the [ISO-3166 alpha-2 country code](/docs/integration/direct/rest/country-codes/).",
        "format" : "ppaas_common_language_v3"
      },
      "INVALIDDECIMALVALUE" : {
        "title" : "INVALID_DECIMAL_VALUE",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_DECIMAL_VALUE" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Payment amount value is invalid. Can have non-negative value with maximum 7 digits and upto 2 fractions." ]
          }
        }
      },
      "NOTSUPPORTED" : {
        "title" : "NOT_SUPPORTED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "NOT_SUPPORTED" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Currency code is not supported." ]
          }
        }
      },
      "CANNOTCANCELDRAFTINVOICE1" : {
        "title" : "CANNOT_CANCEL_DRAFT_INVOICE",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "CANNOT_CANCEL_DRAFT_INVOICE" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Cannot cancel a draft invoice." ]
          }
        }
      },
      "TemplateDetailAllOf2" : {
        "properties" : {
          "payment_term" : {
            "$ref" : "#/components/schemas/payment_term"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/template_metadata"
          }
        }
      },
      "CANNOTCANCELDRAFTINVOICE2" : {
        "title" : "CANNOT_CANCEL_DRAFT_INVOICE",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "CANNOT_CANCEL_DRAFT_INVOICE" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Cannot cancel a draft invoice." ]
          }
        }
      },
      "Invoicescreate400Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH1"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH2"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH3"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH1"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH4"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH2"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH5"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH3"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH4"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH5"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH6"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH7"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH6"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH8"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH9"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH10"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH11"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX1"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH12"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH13"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH7"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH14"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH15"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH16"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH17"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX2"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH18"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH8"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH19"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH20"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH21"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX3"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGLENGTH9"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH22"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX4"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH23"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH24"
        } ]
      },
      "error_default" : {
        "description" : "The default error response.",
        "oneOf" : [ {
          "$ref" : "#/components/schemas/error_400"
        }, {
          "$ref" : "#/components/schemas/error_401"
        }, {
          "$ref" : "#/components/schemas/error_403"
        }, {
          "$ref" : "#/components/schemas/error_404"
        }, {
          "$ref" : "#/components/schemas/error_409"
        }, {
          "$ref" : "#/components/schemas/error_415"
        }, {
          "$ref" : "#/components/schemas/error_422"
        }, {
          "$ref" : "#/components/schemas/error_500"
        }, {
          "$ref" : "#/components/schemas/error_503"
        } ]
      },
      "INVALIDREFUNDAMOUNT" : {
        "title" : "INVALID_REFUND_AMOUNT",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_REFUND_AMOUNT" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Recorded refunds cannot exceed recorded payments." ]
          }
        }
      },
      "ConfigurationAllOf2" : {
        "properties" : {
          "template_id" : {
            "maxLength" : 30,
            "type" : "string",
            "description" : "The template ID. The template determines the layout of the invoice. Includes which fields to show and hide.",
            "default" : "PayPal system template"
          }
        }
      },
      "INVALIDINTEGERMINVALUE" : {
        "title" : "INVALID_INTEGER_MIN_VALUE",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_INTEGER_MIN_VALUE" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Value less than minimum value." ]
          }
        }
      },
      "invoices.cancel-400" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Invoicescancel400Details"
            }
          }
        }
      },
      "INVALIDSTRINGLENGTH3" : {
        "title" : "INVALID_STRING_LENGTH",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_STRING_LENGTH" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Attachment reference url length should be between 1 and 2000." ]
          }
        }
      },
      "invoices.payments-400" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Invoicespayments400Details"
            }
          }
        }
      },
      "INVALIDSTRINGLENGTH2" : {
        "title" : "INVALID_STRING_LENGTH",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_STRING_LENGTH" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Item quantity length should be 1 and 14." ]
          }
        }
      },
      "INVALIDSTRINGLENGTH5" : {
        "title" : "INVALID_STRING_LENGTH",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_STRING_LENGTH" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Currency code length should be 3 characters." ]
          }
        }
      },
      "INVALIDSTRINGLENGTH4" : {
        "title" : "INVALID_STRING_LENGTH",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_STRING_LENGTH" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Country code length should be 2 characters." ]
          }
        }
      },
      "MISSINGREQUIREDPARAMETER" : {
        "title" : "MISSING_REQUIRED_PARAMETER",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "MISSING_REQUIRED_PARAMETER" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Payment method is missing. Please provide a valid payment method." ]
          }
        }
      },
      "403Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/PERMISSIONDENIED"
        } ]
      },
      "INVALIDSTRINGLENGTH1" : {
        "title" : "INVALID_STRING_LENGTH",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_STRING_LENGTH" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Language is invalid." ]
          }
        }
      },
      "INVALIDSTRINGLENGTH7" : {
        "title" : "INVALID_STRING_LENGTH",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_STRING_LENGTH" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "country code length should be between 1 and 3." ]
          }
        }
      },
      "INVALIDSTRINGLENGTH6" : {
        "title" : "INVALID_STRING_LENGTH",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_STRING_LENGTH" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Attachment id length should be between 1 and 255." ]
          }
        }
      },
      "CANNOTCANCELSCHEDULEDINVOICE" : {
        "title" : "CANNOT_CANCEL_SCHEDULED_INVOICE",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "CANNOT_CANCEL_SCHEDULED_INVOICE" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Cannot cancel a scheduled invoice." ]
          }
        }
      },
      "INVALIDSTRINGLENGTH9" : {
        "title" : "INVALID_STRING_LENGTH",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_STRING_LENGTH" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Invoice date is invalid." ]
          }
        }
      },
      "INVALIDSTRINGLENGTH8" : {
        "title" : "INVALID_STRING_LENGTH",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_STRING_LENGTH" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Email address length should be between 3 and 254." ]
[...]
